body {

    /* background: linear-gradient(-45deg, #55b5d874, #ffffff, #48d8b73b, #e0e0e09a);
	background-size: 400% 400%;     
	animation: gradient 15s ease infinite;
	height: 100vh; */

    background: #ffffff;
    background: linear-gradient(324deg, rgba(255, 255, 255, 0) 0%, rgba(143, 255, 221, 0.02) 62%, rgba(32, 201, 151, 0.1) 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
}

h1.display-1 {
    text-decoration: underline;
    text-decoration-color: #20c997;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: auto;

    /* length of line */

}

/*  */
.nav-link {
    color: #20c997 !important;
    font-size: 1.8rem !important;
}
.myLogo {
    height: 60px; 
    width: auto;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #20c997 !important;
    font-size: 1.8rem !important;
}

/* Animated hovering */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #20c997;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}
.router-link-exact-active.hover-underline-animation::after,
.router-link-active.hover-underline-animation::after {
    transform: scaleX(1);
}

.router-link-exact-active.hover-underline-animation.left::after,
.router-link-active.hover-underline-animation.left::after {
    transform-origin: bottom left;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* FOOTER */
.ig-profile {
    color: #20c997;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .ig-profile:hover {
    color: #17a589; /* variante più scura opzionale */
  }
   
  .ig-profile div { 
    font-weight: 500;
  }